doctype html
html
	head
		title
		link(rel='stylesheet', href='css/main.css')
		script(src='http://localhost:48626/takana.js')
		script.
			takanaClient.run({host: 'localhost:48626'});

		body
			p.
				test